

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}
header {
    padding: 10px 20px ;
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    background: dodgerblue;
    border-radius: 0 0 10px 10px;
}

.logo {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}



.menu {
    flex: 3;
    display: flex;
}

.menu ul{
    display: flex;
}

.menu ul li {
    padding: 0 12px ;
    position: relative;
    transition: all 0.3s ease;
}

.menu ul .boder-bottom {
    display: none;
    border: 2px solid rgb(45, 87, 122);
    transition: all 0.5s ease;
}

.menu li:hover .boder-bottom {
    display: block;
}

.menu li:hover a{
    transform: translateY(-5px);
    font-size: 14px;
    color: aqua;
}

.menu li a {
    font-size: 12px;
    font-weight: bold;
    display: block;
    line-height: 20px;
    transition: all 0.4s ease;
}

.others {
    flex: 1;
    display: flex;
}

.others li {
    padding: 0 12px;
    position: relative;
    color: black;
    transition: all 0.6s ease;
}

.others li:hover {
    color: aqua;
}

.others li::after {
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #ddd;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}


/* ---------footer---------*/

.footer {
    width: 100%;
    height: 20px;
    bottom: 0;
    background-color: #ddd;
    background: turquoise;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
}

p {
    font-size: 10px;
    color: black;
}

.footer-left {
    flex: 2;
    display: flex;
    padding: 0 10px;
}



.footer-right {
    flex: 1;
    display: flex;
    padding: 0 10px;
    justify-content: right;
}

.footer-right p {
    margin: 0 10px;
}